<script>
import Vue from "vue";
import myPbtList from "../src/lib-components/my-list-page.vue";
// Uncomment import and local "components" registration if library is not registered globally.
// import { PbwebUiSample } from '@/entry.esm';

export default Vue.extend({
  components: { myPbtList },
  name: "ServeDev",
  // components: {
  //  PbwebUiSample,
  // }
});
</script>

<template>
  <div id="app">
    <pbweb-ui-sample />
  </div>
</template>
