<template>
  <el-col id="listpage">
    <ul>
      <li class="nftli" v-for="nft in nftlist" :key="nft.id" v-bind:info="nft">
        <MyPBTItem
          v-bind:info="nft"
          v-bind:active="current.pbtId == nft.id"
          @click.native="open(nft.id)"
        />
      </li>
    </ul>
  </el-col>
</template>
<script>
export default {
  name: "MylistPage",
  props: ["nftlist", "open", "current"],
  data() {
    return {};
  },
};
</script>
<style scoped>
#listpage {
  width: 250px;
  height: 650px;
  background: #25272e;
  box-sizing: border-box;
}
/* ul{
  overflow: scroll;
} */
#listpage ul li {
  /* float: left; */
  height: 200px;
  width: 250px;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
  background-color: #25272e;
}
</style>
