<template>
  <el-col v-bind:class="cls" v-loading="info.loading">
    <div class="idbox">
    <p>#{{ info.id }}</p>
    </div>
    <img v-if="'meta' in info" v-lazy="info.meta.image" alt="img" />
  </el-col>
</template>

<script>
export default /*#__PURE__*/ {
  name: "MyPBTItem",
  props: ["info", "active"],
  computed: {
    cls() {
      if (this.active) return "my-pbt-item active";
      return "my-pbt-item";
    },
  },
};
</script>

<style scoped>
.my-pbt-item {
  display: block;
  position: relative;
  width: 200px;
  height: 160px;
  text-align: center;
}
.idbox {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  font-family: "Oswald";
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
}
img {
  margin:20px 0 0 20px;
  border-radius: 8px;
  width: 128px;
  height: 128px;
  /* position: absolute; */
}
.active {
  /* background: #baca8f; */
  border: 1px solid #38f2af;
}
</style>
