<template>
  <el-col class="selling-item" v-loading="info.loading">
    <img v-if="'meta' in info" v-lazy="info.meta.image" alt="img" />
    <el-col class="item-info">
      <el-col class="item-desc">
        <span>#{{ info.id }}</span> <br />
        <span class="desc" v-if="info.market">{{ info.market.desc }}</span>
      </el-col>
      <el-col class="item-owner" v-if="info.market">
        <el-col class="sell-info" v-if="info.market.seller == '-self'">My Sale</el-col>
        <el-col class="item-price"
          >{{ info.market.price }}&nbsp;{{ info.market.ptName }}</el-col
        >
      </el-col>
    </el-col>
  </el-col>
</template>

<script>
export default /*#__PURE__*/ {
  name: "SellingItem",
  props: ["info"],
};
</script>

<style scoped>
*{
  color: #38f2af;
}
.selling-item {
  display: block;
  width: 258px;
  height: 400px;
  margin: 18px 12.5px;
  background: #383940;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.selling-item img {
  display: inline-block;
  width: 258px;
  height: 258px;
  border-radius: 8px 8px 0px 0px;
  position: absolute;
  top: -5%;
}
.item-info {
  background: #272a34;
  padding: 18px;
  width: 258px;
  position: absolute;
  top: 55%;
}
.item-desc {
  height: 100px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}
.desc{
  color: #828282;
}
.item-owner {
  height: 56px;
  padding-top: 20px;
  position: relative;
}
.sell-info{
  position: absolute;
}
.item-owner .el-co:first-child {
  float: left;
}
.item-price {
  float: right;
  font-size: 14px;
  font-family: "Oswald";
  line-height: 21px;
  text-align: center;
  height: 21px;
  width: 75px;
  border-radius: 10px;
  border: #38f2af 1px solid;
}
</style>
